.form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form label {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}