.productPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    h1 {
        font-size: clamp(2.5rem, 0.9524rem + 7.619vw, 5rem);    
    }
    img {
        width: 400px;
        margin: 0 auto;
    }
}