.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding:20px 10px;
    gap: 10px;
    max-width: 1140px;
    margin: 0 auto;

    @media (max-width: 750px) {
        grid-template-columns: repeat(2,1fr);
    }
}

.cardImg {
    object-fit: contain;
    height: auto;
    min-height: 200px;
    max-height: 400px;
}

.cardContainer {
    text-decoration: none;
    transition: 0.3s;
}

.cardContainer:hover {
    scale: 1.05;
}

.cardsHeading {
    text-align: center;
    color: #045cb4;
    font-size: 30px;
    font-weight: 800;
}

.cardsText {
    color: black;
}