.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 4vh 5vw;
    gap: 2vw;
}

.cardImg {
    object-fit: contain;
    transition: 0.4s;
}

.cardImg:hover {
    scale: 1.15;
}