.cartContainer {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
}

.productCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 10px;
    margin: 5px 20px;
    height: 150px;

    .imageNname {
        display: flex;
        height: 100%;
        align-items: center;
        gap: 20px;

        img {
            object-fit: contain;
        }
    }

    button {
        background-color: #045cb4;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 4px;
        font-weight: 700;
        cursor: pointer;
    }
    button:hover {
        scale: 1.04;
        box-shadow: 0px 1px 4px #000000a0;
    }
}

.amountNbtn {
    display: flex;
    align-items: center;
    gap: 5px;
}

.total {
    align-self: end;
    margin: 20px 80px;
    font-size: 30px;
    font-weight: 700;
}