.cartContainer {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
}

.productCard {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 10px;
    margin: 5px 20px;
    height: 150px;

    .imageNname {
        display: flex;
        height: 100%;
        width: 300px;
        align-items: center;
        gap: 20px;

        img {
            object-fit: contain;
            width: 150px;
        }
    }
}

button, .link, .checkoutBtn {
    background-color: #045cb4;
    padding: 10px !important;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
}

button:hover, link:hover, .checkoutBtn:hover {
    scale: 1.04;
    box-shadow: 0px 1px 4px #000000a0;
}

.checkoutBtn {
    width: 200px;
    align-self: end;
    margin: 20px 80px;
    text-align: center;
}

.amountNbtn {
    display: flex;
    align-items: center;
    gap: 5px;
}

.total {
    align-self: end;
    margin: 20px 80px;
    font-size: 30px;
    font-weight: 700;
}

.nameNprice {
    display: flex;
    flex-direction: column;
}

.emptyCartMsg {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    padding: 200px;
    font-size: 30px;
}

