.productCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 5px 6px #0000004d;
    border-radius: 5px;
    padding: 30px;

    
    img {
        width: 100%;
        height: 250px;
        object-fit: contain;
        object-position: center;
        border-radius: 5px;
    }

    .priceNbtn {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    button {
        background-color: #045cb4;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 4px;
        font-weight: 700;
        cursor: pointer;
    }
    button:hover {
        scale: 1.04;
        box-shadow: 0px 1px 4px #000000a0;
    }
}

a {
  text-decoration: none;
  color: inherit;
}
