.heroContainer {
  height: 80vh;
  position: relative; 
  overflow: hidden;
}

img {
  height: 100%;      
  width: 100%;
  object-fit: cover;
  object-position: center;

  @media (max-width: 680px) {

    object-position: center right;
    
  }
}

.textContainer {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translateX(-50%);
  color: white;

  text-align: center;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 34px;
}

