header {
    background-color: #045cb4;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    

    img {
        height: 130px;
        padding: 15px;
    }

}

.nav{
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    a{
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        color: #f5f5f5;
    }
}

.cartNquantity {
    display: flex;
    align-items: center;
    gap: 5px;
}

.categoryDropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 30px;
    right: 270px;
    z-index: 5;
    background-color: #f4f4f4;
    
}

.categoryDropdown.show {
    display: flex;
}

.categoryDropdown > a {
    color: black;
    padding: 12px 40px;
    border-bottom: 1px solid black;
}
.categoryDropdown > a:hover {
    color: white;
    background-color: #045cb4;
    border-bottom: 1px solid white;
}