header {
    background-color: #045cb4;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    

    img {
        height: 130px;
        padding: 15px;
    }

}

.burgerNcart {
    display: flex;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    a{
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        color: #f5f5f5;
    }
}

.burger {
    display: none;
}

@media (max-width: 800px) {

    .nav{
        display: none;

        &.show {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 10px;
            top: 100px;
            background-color: #f4f4f4;
            z-index: 10;
            padding: 40px 20px;
            border-radius: 4px;

            .categoryDropdown {
                top: -20px;
                left: -200px;
            }


            a {
                color: black;
                width: 100%;
                text-align: center;
                align-self: center;
            }
        }
    }

    .burger {
        width: 40px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 20px;
    }

    .bar {
        background-color: white;
        width: 100%;
        height: 4px;
        border-radius: 100px;
    }


}
button {
    font-family: "Nunito";
    font-size: 20px;
    font-weight: 700;
    padding: 0;
    cursor: pointer;
    margin: 0;
}

.cartNquantity {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #f4f4f4;
}

.productsLink {position: relative;}

.categoryDropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 24px;
    left: -20px;
    z-index: 5;
    background-color: #f4f4f4;
    
}

.categoryDropdown.show {
    display: flex;
}

.categoryDropdown > a {
    color: black;
    padding: 12px 40px;
    border-bottom: 1px solid black;
}
.categoryDropdown > a:hover {
    color: white;
    background-color: #045cb4;
    border-bottom: 1px solid white;
}

.Link {
    cursor: pointer;
}