.form {

    display: flex;
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: space-around;
    gap: 20px;

    label{
        display: flex;
        flex-direction: column;
        width: 40%;

        input{
            height: 50px;
            padding: 5px 8px;
            border-radius: 4px;
        }
        select{
            height: 50px;
            padding: 5px 8px;
            border-radius: 4px;
        }
        
    }
    
    .checkboxContainer {
        flex-direction: row;
        gap: 10px;
        padding: 10px;
        align-items: center;
        font-size: 20px;

        a {
            color: blue;
            text-decoration: underline;
        }
    }
}