.productCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;

    @media (max-width: 750px) {
        grid-template-columns: repeat(2,1fr);
    }
    @media (max-width: 475px) {
        grid-template-columns: repeat(1,1fr);
    }
}

