.productCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.productCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 5px 6px #0000004d;
    border-radius: 5px;
    padding: 30px;

    
    img {
        width: 100%;
        border-radius: 5px;
    }

    .priceNbtn {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    button {
        background-color: #045cb4;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 4px;
        font-weight: 700;
    }
}