.formContainer {
    text-align: center;
    padding: 80px;
}

.createProductForm {

    max-width: 800px;
    margin: 0 auto;
}

.createProductForm div{
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

input, textarea {
    padding: 10px;
}

button {
    background-color: #045cb4;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-weight: 600;
    border-radius: 2px;
}