.infoSection {
    padding: 100px 30px;
    background-color: rgb(10, 10, 10);
    color: white;
}

.infoSectionContent {
    max-width: 1140px;
    margin: 0 auto;
}

.sectionHeading {
    font-size: 40px;
    padding: 10px 0;
}

.infoText {
    font-size: 22px;
    margin-bottom: 30px;
}

.infoGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @media (max-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 500px) {
        grid-template-columns: repeat(1, 1fr);
        
    }
}

.gridImg {
    object-fit: contain;
    object-position: center;
    height: auto;
    aspect-ratio: calc(4/3);
    border-radius: 10px;
    background-color: white;
    min-height: 275px;
}

.gridHeading {
    font-size: 26px;
    text-align: center;
    
}

.gridText {
    font-size: 20px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}